body{
    font-family: Arial, sans-serif;
    background-color: #f8e3c3;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background: #1e1e1e;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border: 2px solid royalblue;
}

h2{
    text-align: center;
    margin-bottom: 15px;
    color: whitesmoke;
}

form{
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
}

form input[type="text"]{
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    outline: none;
}

form button{
    padding: 10px 15px;
    border: none;
    background: blue;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

form button:hover{
    background: darkblue;
}

.task-list-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2c2c2c;
    margin: 5px 0;
    padding: 8px;
    border-bottom: 1px solid #eee;
    border-radius: 5px;
}

.taskText{
    flex: 1;
    margin: 0 10px;
    cursor: pointer;
}

.editBtn, .deleteBtn{
    background: none;
    color: crimson;
    border: none;
    font-weight: bold;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.editBtn:hover, .deleteBtn:hover{
    text-decoration: underline;
    color: darkred;
}

.footer{
    text-align: center;
    margin-top: 15px;
    border-top: 1px solid royalblue;
    padding-top: 8px;
    font-size: 14px;
}